@model IEnumerable<Item>

@{
    ViewData["Title"] = "Flex&Grecha";
}

<section class="items row">

    @{
        foreach (var item in Model)
        {
            <div class="item-buckwheat col-sm-12 col-md-6 col-lg-4">
                <div class="content row">
                    <div class="image-wrapper col-12">
                        <img class="buckwheat-image" src="@item.ImageUrl" alt="">
                    </div>
                    <div class="information col-12">
                        <ul>
                            <li class="item-name">Назва: @item.Name</li>
                            <li class="item-value">Вартість: @item.Price.ToString() грн/кг</li>
                            <li class="shop-name">Магазин: <a href="@item.StoreUrl">@item.StoreName</a></li>

                        </ul>
                    </div>

                </div>
            </div>
        }
    }

</section>

<section class="plot">
    <div class="plot-container">
        <h3>График цен на гречку</h3>
        <canvas id="myChart"></canvas>
        <script>

        </script>
    </div>
</section>